body {
  font-family: var(--font-secondary);
  font-size: var(--typeScale-unit);
  color: var(--grey-90);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
