/*
* Tokens
*/
@import './tokens/colors.scss';
@import './tokens/typeScale.scss';

/*
* Settings
*/
@import './settings/colors.scss';
@import './settings/spacing.scss';
@import './settings/settings.scss';

/*
* Globals
*/
@import './globals/boxModel.scss';
@import './globals/body.scss';
@import './globals/typography.scss';

.container {
  padding-right: calc(50vw - (95% / 2));
  padding-left: calc(50vw - (95% / 2));

  @media only screen and (min-width: 1180px) {
    padding-right: calc(50vw - (1180px / 2));
    padding-left: calc(50vw - (1180px / 2));
  }

  @media only screen and (min-width: 1440px) {
    padding-right: calc(50vw - (1440px / 2));
    padding-left: calc(50vw - (1440px / 2));
  }
}

.link {
  color: var(--brand-blue);
  transition: color 150ms ease-in-out;

  &:hover {
    color: var(--brand-blue-tint);
  }
}

.subtitle {
  font-weight: 400;
  color: var(--grey-60);
  font-size: var(--type-scale-40);
}
