:root {
  --brand-dark-blue-tint: #033c54;
  --brand-dark-blue: #022a3b;
  --brand-dark-blue-shadow: #011c27;
  --brand-blue-tint: #33bbff;
  --brand-blue: #00aaff;
  --brand-blue-shadow: #0088cc;
  --brand-blue-darker-shadow: #006fa6;
  --brand-orange-tint: #ff7429;
  --brand-orange: #ff5a00;
  --brand-orange-shadow: #e65100;
  --brand-yellow-tint: #ffce33;
  --brand-yellow: #ffc200;
  --brand-yellow-shadow: #e6af00;

  --violet-100: #361e67;
  --violet-90: #3e2277;
  --violet-80: #49288a;
  --violet-70: #5e34b2;
  --violet-60: #6a40bf;
  --violet-50: #7953c6;
  --violet-40: #9779d2;
  --violet-30: #b5a0df;
  --violet-20: #d2c6ec;
  --violet-10: #f0ecf9;
  --purple-100: #632b6e;
  --purple-90: #773384;
  --purple-80: #843a92;
  --purple-70: #9440a5;
  --purple-60: #a548b7;
  --purple-50: #ae5abe;
  --purple-40: #c07fcd;
  --purple-30: #d2a3db;
  --purple-20: #e4c8e9;
  --purple-10: #f6edf8;
  --red-100: #a51104;
  --red-90: #bd1405;
  --red-80: #c71505;
  --red-70: #e01806;
  --red-60: #ff1500;
  --red-50: #ff291a;
  --red-40: #ff5b4d;
  --red-30: #ff8a80;
  --red-20: #ffb9b3;
  --red-10: #ffe8e5;
  --orange-100: #a53d03;
  --orange-90: #bd4604;
  --orange-80: #d64f05;
  --orange-70: #e65100;
  --orange-60: #ff5a00;
  --orange-50: #ff6b1a;
  --orange-40: #ff8c4d;
  --orange-30: #ffad80;
  --orange-20: #ffceb3;
  --orange-10: #ffefe6;
  --yellow-100: #8d6c01;
  --yellow-90: #b18702;
  --yellow-80: #c89904;
  --yellow-70: #e0ac05;
  --yellow-60: #f9bf06;
  --yellow-50: #ffc81a;
  --yellow-40: #ffd44d;
  --yellow-30: #ffe180;
  --yellow-20: #ffedb3;
  --yellow-10: #fff9e6;
  --green-100: #0c452e;
  --green-90: #105b3c;
  --green-80: #136c47;
  --green-70: #178255;
  --green-60: #1b9864;
  --green-50: #1fad72;
  --green-40: #2dd28d;
  --green-30: #93ecc7;
  --green-20: #bef4dd;
  --green-10: #e9fbf4;
  --cyan-100: #005580;
  --cyan-90: #006699;
  --cyan-80: #0081c2;
  --cyan-70: #0092db;
  --cyan-60: #00a3f5;
  --cyan-50: #1ab3ff;
  --cyan-40: #4dc4ff;
  --cyan-30: #80d5ff;
  --cyan-20: #b3e6ff;
  --cyan-10: #e6f7ff;
  --blue-100: #00308f;
  --blue-90: #003cb3;
  --blue-80: #0044cc;
  --blue-70: #004de6;
  --blue-60: #0055ff;
  --blue-50: #1a66ff;
  --blue-40: #4d88ff;
  --blue-30: #80aaff;
  --blue-20: #b3ccff;
  --blue-10: #e6eeff;
  --grey-100: #022a3b;
  --grey-90: #1b3f4e;
  --grey-80: #355562;
  --grey-70: #4d6975;
  --grey-60: #677f89;
  --grey-50: #80949d;
  --grey-40: #9aaab1;
  --grey-30: #b3bfc4;
  --grey-20: #ccd4d8;
  --grey-10: #e5e9eb;
  --grey-5: #f2f4f5;
  --grey-0: #f9fafb;
}
