.post,
.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  .title,
  &-meta {
    text-align: center;
  }

  h1,
  h2,
  h3,
  p,
  ul {
    width: 100%;
    max-width: 650px;
  }

  h2,
  h3 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: var(--type-scale-40);
    margin-bottom: 1rem;
  }

  h2 {
    font-size: var(--type-scale-50);
    margin-bottom: 2rem;
  }

  p + h2,
  p + h3 {
    margin-top: 4rem;
  }

  &-category,
  &-meta {
    font-size: var(--type-scale-20);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &-category {
    text-decoration: none;
    margin-bottom: 2rem;
  }

  &-meta {
    margin-top: 1rem;
    color: var(--grey-40);
  }

  figure,
  &-featureImage {
    margin: 4rem 0;
  }

  &-meta + &-content {
    margin-top: 4rem;
  }

  a {
    color: var(--brand-blue-shadow);
    transition: color 150ms ease-in-out;

    &:hover {
      color: var(--brand-blue-tint);
    }
  }

  ul {
    margin: 0;
  }

  li {
    line-height: 1.5;
  }
}

// .post-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

// }
